<?php
# define('FORCE_SSL_ADMIN', true);
if ( $_SERVER['HTTP_X_SCHEME'] == 'https' ) {
     $_SERVER['HTTPS']='on';
     $_SERVER['SERVER_PORT']='443';
}
$SITEURL = $_SERVER['HTTP_X_SCHEME'] . '://' . $_SERVER['HTTP_HOST'] . '/' ;
define('WP_SITEURL', "$SITEURL" );
define('WP_HOME',    "$SITEURL" );

define('DB_NAME', '{{ domain_dbname }}');
define('DB_USER', '{{ domain_user }}');
define('DB_PASSWORD', '{{ domain_dbpass }}');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

wp_salt.stdout

$table_prefix  = 'wp_';

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
    define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
