<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    div {
        float: left;
        border-style: double;
        padding: 40px;
    }
    </style>
</head>
<body>

{% from "_formhelpers.html" import render_field %}
<div>
    <h1>Add Node:</h1>
    <p></p>
    <form action="/api/nodes" method="post" name="add_node">
        <dl>
            {{ render_field(form_add_node.node_ip) }}
            {{ render_field(form_add_node.node_passwd) }}
            {{ render_field(form_add_node.node_name) }}
            {{ render_field(form_add_node.node_email) }}
            {{ render_field(form_add_node.node_comment) }}
            {{ form_add_node.submit }}
            {{ form_add_node.csrf_token }}
        </dl>
    </form>
</div>
<div><h1>Add Domain:</h1>
    <p></p>
    <form action="/api/domains" method="post" name="add_domain">
        <dl>
            {{ render_field(form_add_domain.name) }}
            {{ render_field(form_add_domain.email) }}
            {{ render_field(form_add_domain.node_id) }}
            {{ render_field(form_add_domain.core) }}
            {{ render_field(form_add_domain.comment) }}
            {{ form_add_domain.submit }}
            {{ form_add_domain.csrf_token }}
        </dl>
    </form>
</div>
</body>
</html>