<html>
  <head>
    <title>MAYA The Bee</title>
    <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-responsive.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-schemes.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-rtl.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-icons.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/js/metro.min.js"></script>
  </head>
  <body  class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding">The Bee</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li><a href="/index">Dashboard</a></li>
            <li><a href="/api/nodes">Debug nodes</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
   </body>
</html>
