{% extends "base.html" %}
{% block content %}
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 90%">
            <div class="cell auto-size padding60 bg-white" id="cell-content">
                    <h1 class="text-light">Virtual machines <span class="mif-drive-eta place-right"></span></h1>
                    <hr class="thin bg-grayLighter">
                    <button class="button primary" onclick="showDialog('#dialog')"><span class="mif-plus"></span>Add node...</button>
                    <button class="button warning" id="button_delete_node"><span class="mif-loop2"></span>Delete</button>
                    <button class="button success" onclick="runPlaybook('virtualmin.yml')"><span class="mif-play"></span>Setup Virtualmin</button>
                    <button class="button alert" onclick="runPlaybook('getprofile.yml')">Get profile</button>
                    <hr class="thin bg-grayLighter">
                    <table class="dataTable border bordered"  id="example">
                        <thead>
                        <tr>
                            <td style="width: 20px">ID</td>
                            <td class="sortable-column sort-asc" style="width: 200px">IP Address</td>
                            <td class="sortable-column">Machine name</td>
                            <td class="sortable-column" style="width: 200px">Meta data</td>
                            <td style="width: 20px">Status</td>
                        </tr>
                        </thead>
                    </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div data-role="dialog" id="dialog" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" style="width: auto; height: auto; visibility: hidden; left: 551px; top: 260px;">
<div class="grid">
    <form name='add_node'>
    <div class="row cells3">
        <div class="cell" >
            <div class="input-control modern text"  data-role="input">
                <input type="text" name="node_ip" id="node_ip">
                <span class="label">IP address</span>
                <span class="informer">Please enter node's IP</span>
                <span class="placeholder">xxx.xxx.xxx.xxx</span>
            </div>
        </div>
        <div class="cell" >
            <div class="input-control modern password cell" data-role="input">
                <input type="password" name="node_passwd" id="node_passwd">
                <span class="label">Node's password</span>
                <span class="informer">Please enter node's password</span>
                <span class="placeholder">Input password</span>
                <span class="icon mif-lock"></span>
                <button class="button helper-button reveal">
                <span class="mif-looks"></span></button>
            </div>
        </div>
        <div class="cell" >
            <div class="input-control modern text cell"  data-role="input">
                <input type="text" name="node_name" id="node_name">
                <span class="label">Node's hostname</span>
                <span class="informer">Please enter hostname</span>
                <span class="placeholder">Input hostname</span>
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell" >
            <div class="input-control modern email cell"  data-role="input">
                <input type="text" name="node_email" id="node_email">
                <span class="label">Customer's email</span>
                <span class="informer">Please enter email</span>
                <span class="placeholder">Input email</span>
            </div>
        </div>
        <div class="cell" >
            <div class="input-control modern text cell"  data-role="input">
                <input type="text" name="node_comment" id="node_comment">
                <span class="label">Comments</span>
                <span class="informer">Please comment it</span>
                <span class="placeholder">Input comments</span>
            </div>
        </div>
        <div class="cell" >
            <div class="form-actions">
                <button type="submit" class="button primary" style="width:200px;height:60px" >Add node...</button>
            </div>
        </div>
    </div>
    </forma>
</div>
</div>




<script>
function delete_node(id){
    $.ajax({
            type: 'DELETE',
            url: '/api/nodes/' + id,
            success: function(data)
            {
            console.log(data);
            refresh_nodes();
            }
        });
}
function refresh_nodes(){
    var table = $('#example').DataTable( {
        destroy: true,
        select: true,
        "ajax": { "url": "/api/nodes"},
        "columns": [
            { "data": "node_id" },
            { "data": "node_ip" },
            { "data": "node_name" },
            { "data": "formated_info" },
            { "data": "node_email" }
        ]
    } );
}
$(document).ready(function() {
    refresh_nodes();
    $('#example tbody').on( 'click', 'tr', function () {
        $('#example tbody tr').not(this).removeClass('selected');
        $(this).toggleClass('selected');
    } );
    $('#button_delete_node').click( function () {
    console.log($('#example tbody tr.selected td').get(0).innerHTML);
        delete_node($('#example tbody tr.selected td').get(0).innerHTML);
    } );
});


function showDialog(id){
    var dialog = $(id).data('dialog');
    dialog.open();
}
function closeDialog(id){
    var dialog = $(id).data('dialog');
    dialog.close();
}
function runPlaybook(playbook_path){
    var data = {"playbook": playbook_path, "args":{"node_id": $('#example tbody tr.selected td').get(0).innerHTML }} ;
    console.log(data);
    $.ajax({
    type: 'POST',
    cache: false,
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    url: '/run/playbook',
    data: JSON.stringify(data),
    success: function(data)   {console.log(data);},
        failure: function(errMsg) {console.log(errMsg);}
        });
}
    $('form[name=add_node]').submit(function(e){
        e.preventDefault();
        //do some verification
        $.ajax({
            type: 'POST', cache: false, dataType: 'json',
            url: '/api/nodes',
            data: $(this).serialize(),
            success: function(data)
            {
            console.log(data);
            closeDialog('#dialog');
            refresh_nodes();
            }
        });
    });


var eventSource = new EventSource("/run/playbook/progress");
eventSource.close();
eventSource.onmessage = function(e) {
  if (e.data != "") console.log("data: " + decodeURIComponent(e.data));
  //document.getElementById("logger").innerHTML += decodeURIComponent(e.data);
};

</script>

{% endblock %}
