Server={{ zabbix_wd }}
Hostname={{ ansible_hostname }}
ListenPort=10050
StartAgents=5
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
Timeout=10
UserParameter=system.mdadm.status,egrep -c '(U_|_U)' /proc/mdstat

UserParameter=mysql.ping,/usr/bin/mysqladmin -ustat ping|grep alive|wc -l
UserParameter=mysql.uptime,/usr/bin/mysqladmin -ustat status|cut -f2 -d":"|cut -f1 -d"T"
UserParameter=mysql.threads,/usr/bin/mysqladmin -ustat status|cut -f3 -d":"|cut -f1 -d"Q"
UserParameter=mysql.questions,/usr/bin/mysqladmin -ustat status|cut -f4 -d":"|cut -f1 -d"S"
UserParameter=mysql.slowqueries,/usr/bin/mysqladmin -ustat status|cut -f5 -d":"|cut -f1 -d"O"
UserParameter=mysql.qps,/usr/bin/mysqladmin -ustat status|cut -f9 -d":"
UserParameter=mysql.version,/usr/bin/mysql -V
UserParameter=mysql.inserts,/usr/bin/mysqladmin -ustat extended-status|grep 'Com_insert '|awk '{print $4}'
UserParameter=mysql.updates,/usr/bin/mysqladmin -ustat extended-status|grep 'Com_update '|awk '{print $4}'
UserParameter=mysql.selects,/usr/bin/mysqladmin -ustat extended-status|grep 'Com_select '|awk '{print $4}'
UserParameter=mysql.deletes,/usr/bin/mysqladmin -ustat extended-status|grep 'Com_delete '|awk '{print $4}'
UserParameter=mysql.replaces,/usr/bin/mysqladmin -ustat extended-status|grep 'Com_replace '|awk '{print $4}'
UserParameter=mysql.cache_hits,/usr/bin/mysqladmin -ustat extended-status|grep 'Qcache_hits '|awk '{print $4}'
