<?php
define('WP_HOME','{{ domain_name }}');
define('WP_SITEURL','{{ domain_name }}');
define('WP_DEBUG', true);
define('FS_METHOD','direct');
require_once( dirname( dirname( __FILE__ ) ) . '/wp-load.php' );
require_once( ABSPATH . 'wp-admin/includes/upgrade.php' );
require_once( ABSPATH . 'wp-admin/includes/plugin-install.php' );
require_once( ABSPATH . 'wp-admin/includes/class-wp-upgrader.php' );
    
$plugins = array(   "all-in-one-seo-pack",
                    "cyr3lat",
                    "invisible-captcha",
                    "wp-cerber",
                    "wp-fastest-cache" );

function run_activate_plugin( $plugin ) {
	print $plugin;
    $current = get_option( 'active_plugins' );
    $plugin = plugin_basename( trim( $plugin ) );
    print $plugin;
    print "";
    if ( !in_array( $plugin, $current ) ) {
        $current[] = $plugin;
        sort( $current );
        do_action( 'activate_plugin', trim( $plugin ) );
        update_option( 'active_plugins', $current );
        do_action( 'activate_' . trim( $plugin ) );
        do_action( 'activated_plugin', trim( $plugin) );
    }
    return null;
}

foreach ( $plugins as $plugin_slug ) {
    $api = plugins_api('plugin_information', array('slug' => $plugin_slug, 'fields' => array('sections' => false), 'locale' => 'en_US' ) );
    $upgrader = new Plugin_Upgrader();
    $upgrader->install($api->download_link);
    $plugins = get_plugins( '/' . $plugin_slug );
    $keys = array_keys($plugins);
    $plugin_file = $plugin_slug . '/' . $keys[0];
//    run_activate_plugin( $plugin_file );
}

?>
