<?php
$weblog_title = "Default Title";
$user_name = "customer";
$domain_email = "{{ domain_email }}";
$domain_passwd = substr("{{ domain_passwd }}",0,8);
$_SERVER['SERVER_NAME'] = "{{ domain_name }}";
define( 'WP_INSTALLING', true );

/** Load WordPress Bootstrap */
require_once( dirname( dirname( __FILE__ ) ) . '/wp-load.php' );

/** Load WordPress Administration Upgrade API */
require_once( dirname( __FILE__ ) . '/includes/upgrade.php' );

/** Load wpdb */
require_once(dirname(dirname(__FILE__)) . '/wp-includes/wp-db.php');

$result = wp_install($weblog_title, $user_name, $domain_email, false, '', $domain_passwd);

$admin_file = fopen( dirname( dirname( dirname( __FILE__ ) ) ) . "/admin_login.txt", "w") or die("Unable to open file!");
$txt = "user: $user_name\nemail: $domain_email\npass: $domain_passwd";
fwrite($admin_file, $txt);
fclose($admin_file);
?>
