{% if ansible_architecture == 'x86_64' %}
[mariadb-amd64]
name = MariaDB-amd64
baseurl = http://yum.mariadb.org/10.1/centos{{ ansible_distribution_major_version }}-amd64
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
{% else %}
[mariadb-x86]
name = MariaDB-x86
baseurl = http://yum.mariadb.org/10.1/centos{{ ansible_distribution_major_version }}-x86
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
{% endif %}
