<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/angularjs/1.5.6/angular.min.js"></script>
    <script src="static/style.js"></script>
</head>

<body>
<div ng-app="MayaApp" ng-controller="MainCtrl">
    <table class="dashboard">
        <tbody>
        <tr>
            <td colspan="2" class="header">
                <a href="/old">Old GUI</a><br>
                <a href="/add">Add Node or Domain</a><br>
                main place {{ data }}
            </td>
        </tr>
        <tr>
            <td>
                <div class="nodes" ng-controller="NodesListCtrl">
                    <div class="pult">
                        <form name="myForm" ng-submit="submit()">
                            <label for="repeatSelect0">Select playbook: </label>
                            <select name="repeatSelect0" id="repeatSelect0" ng-model="playbooks.yml"
                                    ng-change="playbooks.opts=null;playbooks.sub_opts=null">
                                <option ng-repeat="option in playbooks.availableYml" value="{{option.id}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <br>
                            <label for="repeatSelect1">Select options: </label>
                            <select name="repeatSelect1" id="repeatSelect1" ng-model="playbooks.opts">
                                <option ng-repeat="option1 in playbooks.availableOptions[playbooks.yml]"
                                        value="{{option1.id}}">{{option1.name}}
                                </option>
                            </select>
                            <select name="repeatSelect2" id="repeatSelect2" ng-model="playbooks.sub_opts">
                                <option ng-repeat="option2 in playbooks.availableSubOptions[playbooks.opts]"
                                        value="{{option2.id}}">{{option2.id}}
                                </option>
                            </select>
                            <br>
                            <input type="submit" id="submit" value="Submit"/>
                        </form>
                        <hr>
                        <tt>playbooks = {{playbooks.yml}}</tt>
                        <tt>option = {{playbooks.opts}}</tt>
                        <tt>option = {{playbooks.sub_opts}}</tt>
                        <br/>
                    </div>
                    <div>selected = {{ selectedRowsIndexesNodes }}</div>
                    <table>
                        <caption>Nodes</caption>
                        <tbody>
                        <tr>
                            <th class="td_id">#</th>
                            <th class="td_name">Name</th>
                            <th class="td_ip">IP</th>
                            <th class="td_id">ID</th>
                            <th class="td_name">Mail</th>
                            <th class="td_id">Adds</th>
                        </tr>
                        <tr ng:repeat="i in nodes.data" ng-click="selectRow($event, i.node_id)"
                            ng-class="{'selected': isRowSelected(i.node_id)}">
                            <td class="td_id">{{$index}}</td>
                            <td class="td_name">{{i.node_name}}</td>
                            <td class="td_ip">{{i.node_ip}}</td>
                            <td class="td_id">{{i.node_id}}</td>
                            <td class="td_name">{{i.node_email}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="domains" ng-controller="DomainsListCtrl">
                    <div class="pult">
                    </div>
                    <div>selected = {{ selectedRowsIndexesDomains }}</div>
                    <table>
                        <caption>Details</caption>
                        <tbody>
                        <tr>
                            <th class="td_id">#</th>
                            <th class="td_ip">Name</th>
                            <th class="td_id">ID</th>
                            <th class="td_name">Mail</th>
                            <th class="td_info">Adds</th>
                        </tr>
                        <tr ng:repeat="i in domains.data" ng-click="selectRow($event, i.domain_id)"
                            ng-class="{'selected': isRowSelected(i.domain_id)}">
                            <td class="td_id">{{$index}}</td>
                            <td class="td_ip">{{i.domain_name}}</td>
                            <td class="td_id">{{i.domain_id}}</td>
                            <td class="td_name">{{i.domain_email}}</td>
                            <td class="td_info">{{i.formated_info}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
