.header {
  height: 50px;
  border-style: dotted;
  text-align: middle;
}
.pult {
  height: 100px;
  border-style: dotted;
  text-align: middle;
}

.dashboard table {
  width: 100%;
  height: 100%;
  border: 1;
  table-layout: fixed;
  border-style: solid;
}

.nodes table {

}
.dashboard tr td {
  vertical-align: top;
}

td,th.td_id {
  width: 30px;
}

td,th.td_ip {
  width: 110px;
}

td.td_name {
  width: 200px;
  text-align: right;
  padding: 5px;
}

th.td_name {
  width: 200px;
}

td,th.td_info {
  width: 400px;
}

.nodes .selected {
  background-color: black;
  color: white;
}
.domains .selected {
  background-color: blue;
  color: white;
}
