[nodes]
{% for node in nodes %}
{{ node.node_ip }} ansible_connection=ssh ansible_ssh_user={{ node.node_user }} ansible_ssh_pass={{ node.node_passwd }} ansible_ssh_host={{ node.node_ip }} hostname={{ node.node_name }} sysemail={{ node.node_email }} node_email={{ node.node_email }} domain_name={{ node.domain_name }} domain_dbpass={{ node.domain_dbpass }} domain_dbname={{ node.domain_dbname }} domain_dbuser={{ node.domain_dbuser }} domain_ip={{ node.domain_ip }} domain_user={{ node.domain_user }} domain_passwd={{ node.domain_passwd }} domain_email={{ node.domain_email }} domain_note={{ node.domain_note }} domain_core={{ node.domain_core }} test_field={{ test_field }}
{%- endfor %}

[nodes:vars]
log_id={{ log_id }}
